@font-face {
    src: url(font/paladinssuperital.ttf);
    font-family: F1;
}
body {
    background-color: rgb(59, 59, 59);
}

h1 {
color: white;    
font-family: F1;
position: relative;
left: 730px;
font-size:70px;

}

.facebook img {
    position: relative;
    left: 550px;
    top: 40px;
    border: 1px solid #000000;
}

.twitter img {
    position: relative;
    left: 850px;
    bottom: 62px;
    border: 1px solid #000000;

}

.youtube img {
    position: relative;
    left: 1150px;
    bottom: 163px;
    border: 1px solid #000000;
}
