@font-face {
    src: url(font/paladinssuperital.ttf);
    font-family: F1;
}
body {
    background-color: rgb(59, 59, 59);
}

h1 {
background-color:rgb(59, 59, 59);
color: white;
font-family: F1;
position: relative;
left: 750px;
font-size:70px;

}

.facebook img {
    position: relative;
    left: 550px;
    top: 40px;
}

.twitter img {
    position: relative;
    left: 850px;
    bottom: 90px;

}

.youtube img {
    position: relative;
    left: 1150px;
    bottom: 240px;
}

